---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Blog.">
  <h1>My blog</h1>
  <h2>Here I will post stuff</h2>
  <p>
    This page is under construction, so return back later to read some of my
    posts!
  </p>
  <ul>
    <li>
      <a href="/blog/posts/1">Test post</a>
    </li>
  </ul>
</Layout>

<style></style>
