---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/Counter.astro";

const me = {
  passions: ["AR/VR", "music", "coffee"].reduce(
    (res, passion, i, passions) =>
      res + (i === passions.length - 1 ? ` and ${passion}` : `, ${passion}`),
  ),
  skills: ["JavaScript", "TypeScript", "CSS", "HTML"],
};

const shouldRenderWarning = Math.random() > 0.5;
---

<Layout title="Home.">
  <div class="my-portrait-wrapper">
    <!-- TODO: this should be a <picture> -->
    <img
      src="/me.jpg"
      alt="Me, looking all nice and cute"
      class="my-portrait"
    />
    <span class="my-first-name" aria-hidden="true">Dmitrii</span>
    <span class="my-last-name" aria-hidden="true">Kirshanov</span>
  </div>
  <h1 class="visually-hidden">Dmitrii Kirshanov.</h1>
  <h2>Yep! That's me!</h2>
  <p>I live in Armenia and I develop stuff</p>
  <p>
    I'm passionate about {me.passions}
  </p>
  <p>
    Some of my skills are:
    <ul>
      {me.skills.map((skill) => <li>{skill}</li>)}
    </ul>
  </p>

  <p>
    Here are two Astro components that will blow your mind:
    <Counter />
    <Counter />
  </p>

  {
    shouldRenderWarning && (
      <p>
        This site is under construction. Also, this is a random warning that
        shows 50% of the time.
      </p>
    )
  }
</Layout>

<style>
  .my-portrait-wrapper {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
  }

  .my-first-name,
  .my-last-name {
    position: absolute;
    font-size: 2rem;
    font-family: var(--fancy-font-stack);
    padding: 0.1em 0.5em;
    border: 1px solid currentcolor;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    mix-blend-mode: difference;
  }

  .my-first-name {
    top: 0;
    right: 0;
  }

  .my-last-name {
    bottom: 0;
    left: 0;
  }

  .my-portrait {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 85%);
  }
</style>
