---
import Layout from "../layouts/layout.astro";
import Counter from "../components/counter";
---

<Layout title="Home.">
  <div class="my-portrait-wrapper">
    <picture>
      <source srcset="me.avif" type="image/avif" />
      <img
        src="/me.jpg"
        alt="Me, looking all nice and cute"
        class="my-portrait"
        height="500"
      />
    </picture>
    <span class="my-first-name" aria-hidden="true">Dmitrii</span>
    <span class="my-last-name" aria-hidden="true">Kirshanov</span>
  </div>
  <h1 class="visually-hidden">Dmitrii Kirshanov.</h1>
  <h2>Yep! That's me!</h2>
  <p>I live in Armenia and I develop stuff</p>
  <p>I'm passionate about AR/VR, music, and coffee.</p>
  <p>
    Some of my skills are:
    <ul>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>CSS</li>
      <li>HTML</li>
    </ul>
  </p>

  <p>Here is a Solid.js component that will blow your mind:</p>
  <Counter client:visible />
</Layout>

<style>
  .my-portrait-wrapper {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
  }

  .my-first-name,
  .my-last-name {
    position: absolute;
    font-size: 2rem;
    font-family: var(--fancy-font-stack);
    padding: 0.1em 0.5em;
    border-top: 1px solid currentcolor;
    border-bottom: 1px solid currentcolor;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    mix-blend-mode: difference;
  }

  .my-first-name {
    top: 0;
    right: 0;
  }

  .my-last-name {
    bottom: 0;
    left: 0;
  }

  .my-portrait {
    width: calc(100% + 2rem);
    max-height: 500px;
    height: auto;
    margin: 0;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 85%);
  }
</style>
