---
import { Picture } from "astro:assets";

import Layout from "@layouts/layout.astro";
import myPortrait from "@assets/my-portrait.jpg";
---

<Layout title="Home.">
  <div class="my-portrait-wrapper">
    <Picture
      src={myPortrait}
      alt="Me, looking all nice and cute"
      class="my-portrait"
      loading="eager"
      fetchpriority="high"
      formats={["avif", "webp"]}
    />
    <span class="my-first-name" aria-hidden="true">Dmitrii</span>
    <span class="my-last-name" aria-hidden="true">Kirshanov</span>
  </div>
  <h1 class="visually-hidden">Dmitrii Kirshanov.</h1>
  <h2>Hi there!</h2>
  <p>My name's Dmitrii, and I'm glad to welcome you on my personal website!</p>
  <p>Here are a few things you should know about me first:</p>
  <ul>
    <li>I live in Armenia</li>
    <li>I develop stuff</li>
    <li>I'm passionate about AR/VR, music, and coffee</li>
  </ul>
  <h3>With that out of the way, let's talk business.</h3>
  <p>
    You're probably here because you want to get to know me better as an
    engineer, right?
  </p>
  <p>
    Well, I'm a web developer with a focus on front-end. I'm in love with the
    web, I have experience working technologies such as React, Vue, Astro and
    Solid, and I'm always open to learning new things.
  </p>
  <p>...</p>
  <p>
    This web page is under construction, so get back later to get to know me
    better!
  </p>
</Layout>

<style>
  .my-portrait-wrapper {
    max-width: 500px;
    margin: 0 auto;
    position: relative;

    @media (min-width: 530px) {
      margin-top: 1.5rem;
      margin-bottom: 2.75rem;
    }
  }

  .my-first-name,
  .my-last-name {
    position: absolute;
    font-size: 2rem;
    font-family: var(--fancy-font-stack);
    padding: 0.1em 0.5em;
    border-top: 1px solid currentcolor;
    border-bottom: 1px solid currentcolor;
    color: var(--white);
    mix-blend-mode: exclusion;
  }

  .my-first-name {
    top: 0;
    right: 0;
  }

  .my-last-name {
    bottom: 0;
    left: 0;
  }

  .my-portrait {
    height: auto;
    margin: 0;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 85%);
  }
</style>
