---
import NavLink from "./nav-link.astro";
---

<header>
  <nav>
    <ul class="site-nav-list">
      <li>
        <NavLink href="/">Home</NavLink>
      </li>
      <li>
        <NavLink href="/experience">Career</NavLink>
      </li>
      <li>
        <NavLink href="/blog">Blog</NavLink>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    --vertical-gap: var(--spacing-s);

    position: sticky;
    top: calc(-0.5 * var(--vertical-gap));
    left: 0;
    z-index: 1;
    padding: var(--vertical-gap) 1rem 0;
    margin-bottom: var(--vertical-gap);
    mix-blend-mode: difference;
  }

  .site-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0.25rem 0;
    border-top: 1px solid currentcolor;
    border-bottom: 1px solid currentcolor;
    gap: 1rem;
    color: var(--white);
    list-style: none;
  }
</style>
