---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    display: block;
    padding: 0.45em 1em;
    text-decoration: none;
    background-color: var(--secondary-color);
    transition: background-color 0.15s ease-in;
  }

  a:hover {
    background-color: var(--hover-color);
    transition: background-color 0.15s ease-out;
  }
</style>
