---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    display: block;
    padding: 0.45em 1em;
    text-decoration: none;
    transition: border 0.15s ease-out;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-weight: 400;
  }

  a:hover,
  a:focus,
  a:active {
    transition: border 0.2s ease-out;
    border-color: currentcolor;
    font-style: italic;
  }
</style>
