---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    display: block;
    padding: 0.45em 1em;
    text-decoration: none;
    background-color: var(--secondary-color);
    transition: border 0.15s ease-out;
    border: 1px solid transparent;
  }

  a:hover,
  a:focus {
    transition: border 0.2s ease-out;
    border-color: currentcolor;
  }
</style>
