---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import Layout from "../../../layouts/layout.astro";
import { getTags } from "../../../utils/get-tags";
import { filterDraft } from "../../../utils/filter-draft";

export const getStaticPaths = (async () => {
  const blogPosts = await getCollection("blog-posts", filterDraft);
  const tags = getTags(blogPosts);

  return tags.map((tag) => {
    const taggedPosts = blogPosts.filter((post) =>
      post.data.tags.includes(tag),
    );

    return {
      params: { tag },
      props: { taggedPosts },
    };
  });
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { taggedPosts } = Astro.props;
---

<Layout title={`Blog. Posts tagged with "${tag}".`}>
  <h1>Posts tagged with "{tag}":</h1>
  <ul>
    {
      taggedPosts.map((post) => (
        <li>
          <a href={`/blog/posts/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
