---
import { getCollection } from "astro:content";

import Layout from "@layouts/layout.astro";
import { getTags } from "@utils/get-tags";
import { filterDraft } from "@utils/filter-draft";

const blogPosts = await getCollection("blog-posts", filterDraft);
const tags = getTags(blogPosts);
---

<Layout title={`Blog. Tags cloud.`}>
  <h1>Tag cloud:</h1>
  <ul>
    {
      tags.map((tag) => (
        <li>
          <a href={`/blog/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</Layout>
